/*general info*/
body {
    flex-direction: column;
    background-image: url(images/starryBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h2 {
    color: aliceblue;
    font-family: fantasy;
}
h4 {
    color: aliceblue;
    font-family: monospace;
}
a {
    color: rgb(255, 74, 219);
    font-family: monospace;
}


/* ---ICONS--- */
.spotify {
    display:block;
    zoom: 40%;
}
.aMusic {
    display: block;
    zoom: 40%;
}
.SC {
    display: block;
    zoom: 40%;
}
.BC {
    display: block;
    zoom: 40%;
}
.tiktok {
    display: block;
    zoom: 40%;
    margin: 0%;
}
.insta {
    display: block;
    zoom: 40%;
    margin: 0%;
}
.discord {
    display: block;
    zoom: 40%;
    margin: 0%;
}
.YT {
    display: block;
    zoom: 40%;
    margin: 0%;
}



.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
}



.dollar {
    display: block;
    zoom: 30%;
    float: right;
    margin-right: 12%;
    margin-top: -7%;
}

.dollar2 {
    display: block;
    zoom: 30%;
    float: left;
    margin-left: 12%;
    margin-top: -7%;
}
