/*general info*/
body {
    flex-direction: column;
    background-image: 
    url(images/starryBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
    color: aliceblue;
    font-family: fantasy;
}
h4 {
    color: aliceblue;
    font-family: monospace;
}
a {
    color: rgb(255, 74, 219);
    font-family: monospace;
}

.wrapper-main {
    width: 1000px;
    padding: 100px 0;
    margin: 0 auto;
}

/* ---ICONS--- */
.spotify {
    display:block;
    zoom: 35%;
}
.aMusic {
    display: block;
    zoom: 35%;
}
.SC {
    display: block;
    zoom: 35%;
}
.BC {
    display: block;
    zoom: 35%;
}
.tiktok {
    display: block;
    zoom: 35%;
    margin: 0%;
}
.insta {
    display: block;
    zoom: 35%;
    margin: 0%;
}
.discord {
    display: block;
    zoom: 35%;
    margin: 0%;
}
.YT {
    display: block;
    zoom: 35%;
    margin: 0%;
}

    

.banners {
    transform: translateY(100px);
    position: sticky;
    top: 3%;
    margin-top: 0%;
    
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
    margin-left: 15%;
    margin-right: 15%;
}

.dollar {
    display: block;
    zoom: 30%;
    float: right;
    margin-right: 5%;
    margin-left: -20%;
    margin-top: -7%;
}

.dollar2 {
    display: block;
    zoom: 30%;
    float: left;
    margin-left: 5%;
    margin-right: -20%;
    margin-top: -7%;
    
}

@media (max-width: 600px) {
    .wrapper-main {
        width: 100%;
    }
}
